.ui.inverted.menu {
  background-color: #FFFFFF;
  border-bottom: 1px solid #A6CE39;
  color: #A6CE39;
}

.ui.inverted.menu .item:hover {
  color: #262262 !important;

}

.ui.inverted.menu .active.item {
  background-color: #A6CE39;
  color: #FFFFFF !important;

}

.ui.inverted.menu .active.item:hover {
  background-color: #A6CE39;
  color: #262262 !important;

}


#login-buttons .accounts-dialog a {
  color: #000000;
}

a {
  color: #A6CE39;
}

.ui.basic.alloy-green.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px 1px #A6CE39 inset !important;
  color: #A6CE39 !important;
}

.ui.alloy-green.button {
  background: #A6CE39 !important;
  color: #262262 !important;
}

.ui.icon.alloy-blue.input {
  background: transparent !important;
  border: 1px solid #27AAE1;
  color: #27AAE1;
  border-radius: 0.28571429rem;
}

.ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
  color: #A6CE39;
}

.ui.container.suggestion {
}